<div class="carousel-container">
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" [isControls]="false">
    <mdb-carousel-item>
      <div class="img-container">
        <img class="d-block w-100" src="assets/img/aquatic-clown-fish.jpg" alt="Clown Fish">
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="img-container">
        <img class="d-block w-100" src="assets/img/aquatic-biology.jpg" alt="Reef">
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="img-container">
        <img class="d-block w-100" src="assets/img/aquatic-coral.jpg" alt="Coral">
      </div>
    </mdb-carousel-item>
    <div class="container overlay">
      <div class="row centered">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 mr-auto text-center content">
          <h1>Welcome to MBARI</h1>
          <h3>Log your diving and training information</h3>
          <button mdbBtn class="btn btn-dark btn-rounded btn-accent waves-light my-5" routerLink="/login" mdbWavesEffect>Login</button>
        </div>
      </div>
    </div>
  </mdb-carousel>
</div>
