<div class="container py-3">

  <div class="heading page-title">
    <h1>Dive Log</h1>
  </div>

  <div class="container">
    <div class="col-sm-12 col-md-11 mx-auto">
      <label id="diver-select-label" for="diver-select">Diver: </label>
      <select id="diver-select" ng-change="updateLogs($event.target.value)" (change)="updateLogs($event.target.value)">
        <option value="all" selected>All</option>
        <ng-container *ngFor="let diver of divers;">
          <option value="{{ diver }}" class="option" ng-model="activeDiver"
        ng-change="updateLogs()">{{ diver }}</option>
        </ng-container>
      </select>
    </div>
    <div class="table-container row col-12 col-md-11 mx-auto">
      <table class="table table-striped col-sm-12 col-md-11 mx-auto">
        <thead>
          <tr>
            <th>Site</th>
            <th>Date</th>
            <th>Time In</th>
            <th>Duration</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let log of logs;">
            <tr class="table-info">
              <td><a routerLink="../details">{{ log.site.name }}</a></td>
              <td>{{ log.date }}</td>
              <td>{{ log.time }}</td>
              <td>{{ log.duration }} mins</td>
              <td><button mdbBtn class="btn btn-dark btn-round btn-close btn-accent mx-0 my-0 waves-light" (click)="deleteLog(log)" mdbWavesEffect><i class="fa fa-close fa-fw"></i></button></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-5 offset-5">
        <button mdbBtn class="btn btn-outline btn-rounded btn-accent waves-light my-5" routerLink="/add-dive" mdbWavesEffect>Add a Log</button>
      </div>
    </div>
  </div>
</div>


