<div class="container" id="graphContainer">
  <ngx-charts-area-chart *ngIf="canShow"
                         [view] = "view"
                         [scheme] = "colorScheme"
                         [legend] = "showLegend"
                         [results] = "chartData"
                         [animations]="animations"
                         [gradient]="gradient"
                         [timeline] = "timeline"
                         [xAxisLabel]="xLabel"
                         [yAxisLabel]="yLabel"
                         [showXAxisLabel]="showXAxisLabel"
                         [showYAxisLabel]="showYAxisLabel"
                         [xAxis]="showXAxis"
                         [yAxis]="showYAxis"
                         (legendLabelClick)="onClick($event)"
                         (legendLabelActivate)="onActivate($event)"
                         (legendLabelDeactivate)="onDeactivate($event)">
  </ngx-charts-area-chart>
</div>
